
<body>
<!--------for fetching CSS from assets/stylesheets ------>

    <% content_for :head do %>
        <link rel="stylesheet" href="/assets/dashboard.scss">
    <% end %>
<!---------------------------------------------------------->
            <div class="overflow-auto">

                <head>
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
                </head>
                <header>
                    <!-- ======================================Navigation Bar================================================= -->
                    <nav class="navbar navbar-expand-lg navStyle">
                        <%= link_to homepages_path do %>
                            <div class="brand-navbar">
                                <h4><strong> Account-MS </strong> </h4>
                            </div>
                        <% end %>
                                <button class="navbar-toggler" data-toggle="collapse" data-target="#mainMenu">
                                    <span><i class="fas fa-align-right iconStyle"></i></span>
                                </button>
                                <div class="collapse navbar-collapse" id="mainMenu">
                                    <ul class="navbar-nav ml-auto navList">
                                        <!-- <li class="nav-link mx-3">
                                            <h5><strong>
                                                    <%= current_user.email.split('@')[0].capitalize %>
                                                </strong></h5>
                                        </li> -->
                                        <li class="nav-item1" style="text-decoration: none;">
                                            <a href="" class="nav-link mr-5">
                                                Welcome! <%= current_user.email.split('@')[0].capitalize %>
                                            </a>
                                        </li>
                                        <li class="nav-item active"><a href="#" class="nav-link"><i
                                                    class="fas fa-home"></i>HOME<span
                                                    class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link"><i class="fas fa-cogs"></i>Services</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link"><i class="fas fa-briefcase"></i>Portfolio</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link"><i class="fas fa-phone"></i>Contact</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link"><i class="fas fa-users"></i>About</a>

                                        </li>
                                        <% if current_user %>
                                            <li class="nav-item">
                                                <%= link_to 'Sign out' , destroy_user_session_path, method: :delete,
                                                    class: 'nav-link' %>
                                            </li>
                                            <% end %>
                                    </ul>
                                </div>
                    </nav>


                </header>

                <!-----------------side bar ----------------------->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2 col-sm-4 sidebar1">
                            <div class="logo">
                                <img src="https://www.designevo.com/res/templates/thumb_small/blue-triangle-and-white-arrow.png"
                                    class="img-responsive center-block" alt="Logo">
                            </div>
                            <br>
<!------------------------------list inside sidebar--------------------------------->
          <!----------------------list category 1------------->
                            <ul class="list">
                            <h5><strong>  People   </strong></h5>


                                    <div class="menuitems p-2 navbar-header">
                                        <li id="attendance">
                                            <%= link_to clients_path do %> 
                                                <span class="brand-big pl-4"> <strong> Team Members </strong> </span>  
                                                <% end %>
                                        </li>
                                    </div>

                                    <div class="menuitems p-2 navbar-header">
                                        <li id="attendance">
                                            <%= link_to clients_path do %>
                                                <span class="brand-big pl-4"> <strong> Clients </strong> </span>   
                                                <% end %>
                                        </li>
                                    </div>

                                    <div class="menuitems p-2 navbar-header">
                                        <li id="attendance">
                                            <%= link_to clients_path do %> 
                                                <span class="brand-big pl-4"> <strong> Board Members </strong> </span>  
                                                <% end %>
                                        </li>
                                    </div>

                                    <div class="menuitems p-2 navbar-header">
                                        <li id="attendance">
                                            <%= link_to clients_path do %> 
                                                <span class="brand-big pl-4"> <strong> Students </strong> </span>  
                                                <% end %>
                                        </li>
                                    </div>

                            </ul>

                            
                   <!---------------------list category 2--------------------->
                            
                             <ul class="list">
                                <h5><strong>  Billing   </strong></h5>

                                  <div class="menuitems p-2 navbar-header">
                                        <li id="attendance">
                                            <%= link_to clients_path do %> 
                                                <span class="brand-big pl-4"> <strong> Estimates </strong> </span>  
                                                <% end %>
                                        </li>
                                    </div>

                                      <div class="menuitems p-2 navbar-header">
                                        <li id="attendance">
                                            <%= link_to clients_path do %> 
                                                <span class="brand-big pl-4"> <strong> Invoices </strong> </span>  
                                                <% end %>
                                        </li>
                                    </div>

                                      <div class="menuitems p-2 navbar-header">
                                        <li id="attendance">
                                            <%= link_to clients_path do %> 
                                                <span class="brand-big pl-4"> <strong> Quotation  </strong> </span>  
                                                <% end %>
                                        </li>
                                    </div>



                                      <div class="menuitems p-2 navbar-header">
                                        <li id="attendance">
                                            <%= link_to clients_path do %> 
                                                <span class="brand-big pl-4"> <strong> Balance Sheet  </strong> </span>  
                                                <% end %>
                                        </li>
                                    </div>
                            </ul>
                <!---------------------list category 3--------------------->

                               <ul class="list">
                                <h5><strong> Inventory</strong></h5>

                                    <div class="menuitems p-2 navbar-header">
                                        <li id="attendance">
                                            <%= link_to clients_path do %> 
                                                <span class="brand-big pl-4"> <strong> Networking Items </strong> </span>  
                                                <% end %>
                                        </li>
                                    </div>

                                    <div class="menuitems p-2 navbar-header">
                                        <li id="attendance">
                                            <%= link_to clients_path do %>
                                                <span class="brand-big pl-4"> <strong> Softwares Items </strong> </span>   
                                                <% end %>
                                        </li>
                                    </div>

                                    <div class="menuitems p-2 navbar-header">
                                        <li id="attendance">
                                            <%= link_to clients_path do %> 
                                                <span class="brand-big pl-4"> <strong> Tools </strong> </span>  
                                                <% end %>
                                        </li>
                                    </div>


                            </ul>

    <!---------------------list category 4--------------------->

                               <ul class="list">
                                <h5><strong>  Sales </strong></h5>

                                    <div class="menuitems p-2 navbar-header">
                                        <li id="attendance">
                                            <%= link_to clients_path do %> 
                                                <span class="brand-big pl-4"> <strong> Networking  </strong> </span>  
                                                <% end %>
                                        </li>
                                    </div>

                                    <div class="menuitems p-2 navbar-header">
                                        <li id="attendance">
                                            <%= link_to clients_path do %>
                                                <span class="brand-big pl-4"> <strong> Softwares </strong> </span>   
                                                <% end %>
                                        </li>
                                    </div>


                            </ul>

<!------------------------------------------------------------------------------------>
                            <!------------------------------------------------------------------------------------>
                        </div>
                    </div>
                </div>

            </div>
            <div>




</body>