<!DOCTYPE html>
<html>
  <head>
    <title>Accountapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <!-----------> 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload',:cache => 'cached/all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload',:cache => 'cached/all' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload',:cache => 'cached/all' %>
  
  <!-----------for yielding css in dashboard for now (we can yield other files using folowing ) -->
    <% if content_for?(:head) %>
    <%= yield(:head) %>
    <% end %> 
  <!---------------------------------------------------->
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="atoast align-items-center text-white bg-danger", role="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
